{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block 'title' %}
        Title
        {% endblock %}
    </title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'post_feed/css/base.css'%}">

    <div class="top-bar">
        <div>
        <a href="{% url 'home'%}"><img src="{% static 'post_feed\img\home.png'%}"></a>
        <a href="{% url 'create_post'%}"><img src="{% static 'post_feed\img\add.png'%}"></a>
        {% if not user.is_authenticated %}
            <a href="{% url 'login'%}"><img src="{% static 'post_feed\img\user.png'%}"></a>
        {% endif %}
        </div>

        {% if user.is_authenticated %}
            <div class="right-div">
                {{user.username}}
                <br>
                <a href="{% url 'logout' %}">Выйти из аккаунта</a>
            </div>
        {% endif %}



        {% block 'top-bar' %}
        {%endblock%}
    </div>

    <div class="content">
        {% block 'body'%}
            <h1>Welcome to Dark Template</h1>
            <p>This is a sample content. You can modify it as needed.</p>
        {% endblock %}
    </div>

</body>
</html>